html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
    padding: 0;
    margin: 0;
    background: linear-gradient(rgb(132, 175, 255),rgb(255, 255, 255));   
   
}


#bandeau {
    padding: 10px;
    border-width: 0px 2px 2px 2px;
    border-style: outset;
    margin: auto;
    width: fit-content;
    font-size: 18px;
    border-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    background-color: #ffffff8f;
}

#folder-input {
    margin-left: 10px;
    
}

#titre {
    background-color: rgba(255, 255, 255, 0.511);
    border: 3px #ffffff solid;
    font-size: 48px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin: 20px auto 20px auto;
    width: fit-content;
}

#buttonContainer {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#image-container {
    max-height: 350px;
    width: 80%;
    border: 3px #ffffff solid;  
    margin: auto;  
    overflow-y: auto;
    background-color: beige;    
}


#presentButton, #absentButton {
    flex-grow: 1;
    font-size: 24px;
    padding: 10px;
    text-align: center;
  }

#presentButton {
    background-color: green;
    color: white;
  }

#absentButton {
    background-color: red;
    color: white;
  }

img {
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: #8e8ea7 3px 3px 10px 3px;
    transition: transform 0.3s linear;
}

img.selected {
    border-color: blue;
    transform: scale(1.2);
}

.present-images, .absent-images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.present-images img, .absent-images img {
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
}

#bouton-raz {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-image: url(images/raz.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

#bouton-poubelle {
    position: absolute;
    top: 70px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-image: url(images/poubelle.svg);
    background-size: contain;
    background-repeat: no-repeat;
} 


/* Bouton informations et boîte*/

#informations {
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
}

#darkbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
  }
  
  .lightbox {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    padding: 10px;
    border: 10px #b4d9f8c3 outset;
    border-radius: 20px;
    transform: translateX(-50%) translateY(-50%);
    background-color: #ffffff;
    z-index: 1000;
  }
  
  .lightbox h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    min-height: 36px;
    margin: 10px;
  }
  
  .contenu-lightbox {
    flex: 1;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
    text-align: left;
    width: fit-content;
    margin: auto;
  }

.lightbox img {
    margin: 0 !important;
    box-shadow: none !important;
} 
  
 
  .bouton-fermer {
    position : fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-image: url(images/bouton_fermer.svg);
    background-size: contain;
    background-color: transparent;
    border: none;
    outline: none;
  }

.hide {
    display: none;
}